body{background-color: white;}

.image-preview img{
    border-top: 30px solid #2d36ad;
    border-right: 30px solid rgb(255, 0, 0);
    border-bottom: 30px solid rgb(241, 5, 190);
    border-left: 30px solid #fffb16;
}
.image-preview{
    margin-top: 20%;
    display: flex;
    justify-content: center;

}
#header{
    margin-top: 20%;
}
table{
    border: 2px solid rgb(5, 243, 37);
}

table th{
    border: 2px solid rgb(29, 207, 252);
}
#th1{
    border: white;
}
table td{
    border: 2px solid rgb(247, 0, 173);
}

.pink{
    color: pink;
}
.blue:hover{
    color: blue;
}
.red{
    color:red;
}
.orange{
    color:orange
}